:root {
    --azul: #004aad;
    --verde: #24e086;
    --rojo: #ff3131;
    --blanco: #ffffff;
}

* {
    font-family: 'Russo One', sans-serif;
}

/* Fondo */
.bg-foss {
    background: linear-gradient(90deg, var(--rojo), var(--azul));
}

/* NAV */
nav.navbar {
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body { padding-top: 80px; }

.foss-logo {
    color: var(--blanco);
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.foss-logo:hover { color: var(--verde); }

.foss-link {
    color: var(--blanco) !important;
    margin-left: 20px;
    font-size: 1.1rem;
}
.foss-link:hover { color: var(--verde) !important; }

/* HERO */
.hero-section {
    height: 55vh;
    background: url('/img/desarrollo/1.jpg') center/cover no-repeat;
}
.hero-title {
    font-size: 3rem;
    color: var(--blanco);
    text-shadow: 3px 3px #000;
}
.hero-subtitle {
    font-size: 1.5rem;
    color: var(--blanco);
    text-shadow: 3px 3px #000;
}
.post-card {
  background: rgba(20,20,20,0.75);
  border-radius: 12px;
  padding: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  display: flex;
  gap: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.4);
}

.post-img {
  width: 200px;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.post-body {
  flex: 1;
}

.post-title {
  color: white;
  margin: 0;
}

.post-date {
  color: var(--verde);
}

.post-text {
  color: #ddd;
}
/* MODAL */
.dev-modal {
  background: rgba(15, 15, 15, 0.85);
  backdrop-filter: blur(10px);
  border-radius: 18px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0px 0px 25px rgba(0,0,0,0.7);
  overflow: hidden;
}
.dev-modal-header {
  background: linear-gradient(90deg, var(--rojo), var(--azul));
  border-bottom: none;
}
.dev-modal-title {
  color: var(--blanco);
  text-shadow: 2px 2px #000;
  font-size: 1.6rem;
}
.dev-modal-img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 0 12px rgba(0,0,0,0.5);
}
.dev-modal-date {
  color: var(--verde);
  font-weight: bold;
  margin-top: 10px;
}

.dev-modal-text {
  color: #e6e6e6;
  font-size: 1.1rem;
  line-height: 1.5;
}

.dev-modal-body {
  max-height: 70vh;
  overflow-y: auto;
}

.dev-modal {
  animation: modalShow .25s ease-out;
}
@keyframes modalShow {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.btn-close-white {
  filter: invert(1);
}

/* FOOTER */
.foss-footer {
    color: white;
    background: rgba(0,0,0,0.2);
}
