:root {
--azul: #004aad;
--verde: #24e086;
--rojo: #ff3131;
--blanco: #ffffff;
}
* {
    font-family: 'Russo One', sans-serif;
}
/* Fondo foss */
.bg-foss {
    background: linear-gradient(90deg, var(--rojo),  var(--azul));
}
/* NAV FIJO */
nav.navbar {
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body { padding-top: 80px; }
.foss-logo:hover{
    color: var(--verde);
}
.foss-logo {
    color: var(--blanco);
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.foss-link {
    color: var(--blanco) !important;
    margin-left: 20px;
    font-size: 1.1rem;
}
.foss-link:hover {
    color: var(--verde) !important;
}
/* HERO */
.hero-section {
    height: 40vh;
}
.hero-title {
    font-size: 3rem;
    color: var(--blanco);
    text-shadow: 3px 3px #000;
}
.hero-subtitle {
    color: var(--blanco);
}
#equipos{
  color: var(--verde);
}

.card-container{
    margin: 3%;
    align-items: center;
}
.card {
    background: rgba(34, 34, 34, 0.671);
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    overflow: hidden;
    height: 400px;
    min-width: 95%;
    transition: transform .3s;
    margin-bottom: 25px;
}

.card:hover {
    transform: scale(1.05);
}
.card-body{
    width: 50%;
}
.card-img-top{
    display: flex;
    align-items:first baseline;
    width: 20rem;
}
.card-title {
    display: flex;
    color: var(--blanco);
    margin: 5px;
    font-size: 1.5rem;
    text-align: end;
}
.fecha{
    color: var(--verde);
}
.card-text {
    margin: 5px;
    color: #fff;
}
/* FOOTER */
.foss-footer {
    color: white;
    background: rgba(0,0,0,0.2);
}
