:root {
--azul: #004aad;
--verde: #24e086;
--rojo: #ff3131;
--blanco: #ffffff;
}
* {
    font-family: 'Russo One', sans-serif;
}
/* Fondo foss */
.bg-foss {
    background: linear-gradient(90deg, var(--rojo),  var(--azul));
    min-height: 100%;
}
/* NAV FIJO */
nav.navbar {
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body { padding-top: 80px; }

.foss-logo {
    color: var(--blanco);
    font-size: 1.7rem;
    letter-spacing: 2px;
}

.foss-link {
    color: var(--blanco) !important;
    margin-left: 20px;
    font-size: 1.1rem;
}

.foss-link:hover {
    color: var(--verde) !important;
}

/* HERO */
.hero-section {
    height: 80vh;
    background: url('/img/desarrollo/cancha_frente_black.jpg') center/cover no-repeat;
}

.hero-title {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 3px 3px #000;
}

.hero-subtitle {
    color: white;
    font-size: 1.3rem;
}
#equipos{
  color: var(--verde);
}
/* SECCION TITULOS */
.section-title {
    color: #fff;
    font-size: 2.2rem;
}

/* Tarjetas estilo Fortnite */
.news-card {
    background: #111;
    border: 2px solid var(--blanco);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 15px black;
    height: 100%;
}
.news-card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.news-card .card-body { color: white; }

/* Sidebar Desarrollo */
.side-dev { position: sticky; top: 100px; }
@media (max-width: 992px) { .side-dev { position: static; margin-top: 30px; } }
/* CARDS estilo foss */
.foss-card {
    background: rgba(255, 255, 255, 0.15);
    padding-bottom: 15px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    backdrop-filter: blur(8px);
    overflow: hidden;
    transition: transform .3s;
}

.foss-card:hover {
    transform: scale(1.05);
}

.foss-card-title {
    color: #ffffff;
    font-size: 1.5rem;
}

.foss-card-text {
    color: #fff;
}

/* Botón foss */
.foss-btn {
    background: #ffffff;
    color: #000;
    padding: 10px 20px;
    border-radius: 8px;
    font-weight: bold;
}

.foss-btn:hover {
    background: #55ff55;
}

/* FOOTER */
.foss-footer {
    color: white;
    background: rgba(0,0,0,0.2);
}
