:root {
--azul: #004aad;
--verde: #24e086;
--rojo: #ff3131;
--blanco: #ffffff;
}
* {
    font-family: 'Russo One', sans-serif;
}
.bg-foss {
    background: linear-gradient(90deg, var(--rojo),  var(--azul));
}
/*NAV*/
nav.navbar {
    position: fixed;
    background: black;
    top: 0;
    width: 100%;
    z-index: 1000;
}
body { padding-top: 80px; }

.foss-logo {
    color: var(--blanco);
    font-size: 1.7rem;
    letter-spacing: 2px;
}
.foss-logo:hover{
    color: var(--verde);
}
.foss-link {
    color: var(--blanco) !important;
    margin-left: 20px;
    font-size: 1.1rem;
}

.foss-link:hover {
    color: var(--verde) !important;
}

/* HERO */
.hero-section {
    height: 80vh;
    background: url('/img/desarrollo/cancha_frente_black.jpg') center/cover no-repeat;
}

.hero-title {
    font-size: 4rem;
    color: #ffffff;
    text-shadow: 3px 3px #000;
}

.hero-subtitle {
    color: white;
    font-size: 1.3rem;
}
#verde{
  color: var(--verde);
}
.section-title {
    color: #fff;
    font-size: 2.2rem;
}
.news-card {
    background: rgba(34, 34, 34, 0.671);;
    border-radius: 12px;
    overflow: hidden;
    height: 100%;
}
.news-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.news-card .card-body { 
  margin: 20px;
  color: rgb(255, 255, 255); }
h5{
  margin: 10px;
  display: flex;
}
.fecha{
  color: var(--verde);
  text-align: end;
}
.btn{
  background-color: var(--azul);
  color: var(--blanco);
  border: none;
}

/* FOOTER */
.foss-footer {
    color: white;
    background: rgba(0,0,0,0.2);
}
